        body {
            background-color: rgb(215, 221, 201);
            font-family: 'Mako', sans-serif;
            padding-top: 50px;
        }

        h1, h2, h3, h4, h5, h6 {
            font-weight: 100px;
            font-family: 'Raleway', sans-serif;
            padding-left: 15px;
            padding-top: 10px;     
        }
        
        a, p {
            font-weight: 100px;
            color: rgb(88, 88, 88);
            margin:auto;
        }

        .container {
            border-radius: 5px;
            max-width: 550px;
            margin: auto;
            background-color: #FFFF;
            -webkit-box-shadow: 5px 5px 13px -5px rgba(0, 0, 0, 0.21);
            box-shadow: 5px 5px 13px -5px rgba(0, 0, 0, 0.21);
        }

        .header-bar {
            display: flex;
            justify-content: space-between;
            color: #fff;
            padding: 10px;
            border-radius: 5px 5px 0 0;
            background: rgb(238,174,202);
            background: linear-gradient(60deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
        }

        .btn, a {
            color: #66507a; 
            outline: none;
            text-decoration: none;
            margin-left: 10px;
        }
        
        #search-add-wrapper {
            margin-top: 10px;
            display: flex;
            margin-bottom: 10px; 
        }

        #search-add-wrapper input[type="text"] {
            margin-left: 20px;
            flex: 1;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        #search-add-wrapper .button {
            width: 80px;
            padding: 5px 10px;
            background-color: #3d73a0;
            color: #fff; 
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }

        #add-link {
            justify-content: flex-end;
            margin-left: 12rem; 
            text-decoration: none;
            color:  #3d73a0; 
        }

        #tasklist {
            margin: 0; 
            padding: 0; 
            list-style: none; 
        }

        .task-wrapper {
            display: flex; 
            margin-bottom: 5px;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 3px;
        }

        .task-title {
            flex: 1; 
            word-break: break-all; 
        }

        .task-title a {
            text-decoration: none;
        }
        
        .card-body {
            padding: 20px;
            display: flex;
            justify-content: center;
        }

        .card-body form {
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            margin: 0 auto;
            width: fit-content;
        }

        .card-body form label {
            padding-top: 10px;
            width: 100px;
            margin-left: 5px;
            margin-bottom: 5px;
            text-align: right;
        }

        .card-body form input[type="text"],
        .card-body form input[type="password"] {
            flex: 1;
            padding: 5px; 
            border: 1px solid #ccc;
            border-radius: 3px;
            margin-left: 20px;
        }

        .card-body form .button {
            padding: 10px 20px;
            background-color: #333;
            color: #fff;
            border: none;
            border-radius: 3px; 
            cursor: pointer;
            margin-top: 10px;
        
        }

        .card-body p {
            text-align: center; 
            margin-top: 15px; 
        }

        .card-body p a {
            color: #333; 
            text-decoration: none; 
        }
        .task-checkbox {
            margin-right: 10px; 
        }

        .task-complete-icon {
            display: none; 
        }

        .task-checkbox:checked + .task-title a {
            text-decoration: line-through; 
            color: #888; 
        }
        .task-controls {
            display: flex; 
            align-items: center; 
        }

        .delete-link {
            text-decoration: none;
            font-weight: 900;
            color: #cf4949;
            font-size: 22px;
            line-height: 0;
            padding: 20px 0px;
        }
